{% extends 'base.html' %}

{% block title %}
    Settings - BudgetManager
{% endblock %}

{% block head_scripts %}
    {% load static %}
    <script type="module" src="{% static 'js/profile-form.js' %}" defer></script>
    <script type="module" src="{% static 'js/change-password-form.js' %}"
            defer></script>
{% endblock head_scripts %}

{% block content %}
    <div class="flex flex-col">
        <h1 class="font-bold text-text-main text-2xl mb-4">Settings</h1>
        <div class="flex gap-6">
            {% include 'users/partials/profile_card.html' %}
            <div class="flex flex-1 flex-col gap-6">
                {% include 'users/partials/account_actions_card.html' %}
                {% include 'users/partials/account_stats_card.html' %}
            </div>
        </div>
    </div>
{% endblock content %}