{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center h-full">
        <div class="mx-auto bg-background-important p-8 text-center rounded-lg w-full max-w-md shadow-lg">
            <h2 class="text-primary-indigo font-bold text-3xl">Budget Manager</h2>
            <h3 class="text-text-main text-xl mt-10 font-bold">Create an account</h3>
            <p class="text-text-secondary my-4">Create an account to start planning your
                budget</p>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="bg-orange-100 text-alert p-2 rounded-md text-sm my-2 border
                    border-orange-300">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="flex flex-col justify-start">
                        {{ field.as_widget }}
                        {% for error in field.errors %}
                            <p class="text-alert text-sm text-left mb-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit"
                        class="rounded-md w-full bg-primary-indigo p-2 my-4 cursor-pointer text-white">
                    Sign
                    up
                </button>
                <div class="flex flex-row gap-2 justify-center">
                    <p class="text-text-secondary">Already have an account?</p>
                    <a href="{% url 'login' %}"
                       class="text-primary-indigo hover:underline underline-offset-4">Login</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}