<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/output.css' %}" type="text/css">
    {% block head_scripts %}{% endblock %}
</head>

<body class="bg-background-light h-screen">
<div class="lg:flex">
    {% include 'partials/nav_bar.html' %}
    <main class="flex flex-1 justify-center lg:block lg:justify-normal p-6">
        {% block content %}{% endblock content %}
    </main>
</div>
</body>

</html>