<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Manage your personal budget and expenses efficiently">
    <meta name="author" content="Michaël Arnaud">

    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="DENY">

    <title>{% block title %}Budget Manager{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/output.css' %}" type="text/css">

    <meta property="og:title"
          content="{% block og_title %}Budget Manager{% endblock %}">
    <meta property="og:description"
          content="{% block og_description %}Manage your personal budget and expenses{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title"
          content="{% block twitter_title %}Budget Manager{% endblock %}">
    <meta name="twitter:description"
          content="{% block twitter_description %}Manage your personal budget and expenses{% endblock %}">

    <script src="{% static 'js/delete-modal.js' %}"></script>
    {% block head_scripts %}{% endblock %}
</head>

<body class="bg-background-light h-screen">
<div class="lg:flex">

    {% if request.user.is_authenticated %}
        {% include 'partials/nav_bar.html' %}
    {% endif %}

    <main class="justify-center lg:block lg:justify-normal p-6 h-screen">
        {% block content %}{% endblock content %}
    </main>
</div>
</body>

</html>