<div class="bg-background-important rounded-lg border-1 border-b-gray-400
    max-w-2xl w-full m-3">
    <div class="flex flex-row justify-between p-4">
        <h2 class="font-bold text-text-main text-xl">{% if form.instance.pk %}Edit
        {% else %}Add New {% endif %}Transaction</h2>
        <button id="modal-close" class="cursor-pointer hover:text-alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-x ">
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
            </svg>
        </button>
    </div>
    <form id="form-transaction" class="border-t-1 border-gray-200 p-6" method="POST"
          action="
    {% if form.instance.pk %}
        {% url 'edit_expense' form.instance.id %}
    {% else %}
        {% url 'create_expense' %}
    {% endif %}" novalidate>
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            {% for field in form %}
                {{ field.as_widget }}
            {% endfor %}
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <button id="modal-cancel" type="button" class="px-4 py-2 bg-white border
            border-gray-300 text-text-main rounded-md hover:bg-gray-50
            transition-colors duration-300 cursor-pointer focus:outline-none
            focus:ring-2 focus:ring-violet-700">Cancel
            </button>
            <button type="submit"
                    class="rounded-md bg-primary-indigo py-2 cursor-pointer
                    text-white hover:bg-violet-700 px-4 transition-colors
                    duration-300 focus:outline-none focus:ring-2 focus:ring-violet-700">
                {% if form.instance.pk %}Edit
                {% else %}Add {% endif %} Transaction
            </button>
        </div>
    </form>
</div>